<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django docs</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
	<div>
	<header>
		<div class="nav-left">
	<h1>
		<a href="{% url 'home' %}">Django blog
	</h1>
		</div>
		<div class="nav-right">
			<a href="{% url 'post_new' %}">+ New Blog Post</a>
		</div>
	</header>
	
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>